
.header__nav ul{
    padding: 1.5rem;    
}
.header__nav ul li{
    display: inline-block;
    margin: 0.6rem 0.5rem;
    margin-right: 4.6rem;
}

.main{
    display: grid;
    grid-template-columns: auto auto auto ;
}
.main figure figcaption{
    font-size: 1.8rem;
    flex-grow: 1;
}
.main figure:last-child{
    grid-column: 1 / 4;
    max-width: 450px;
    justify-self: center;
}
